<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <entityFramework>
        <providers>
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.19.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </providers>
    </entityFramework>
    <system.web>
        <compilation debug="true"/>
        <customErrors mode="Off"/>
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
    <appSettings>
        <add key="Airbrake.ProjectId" value="302565" />
        <add key="Airbrake.ProjectKey" value="27cd145b9e11f804690fdd68f11189ea" />
    </appSettings>
    <PropertyGroup>
        <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
        <GenerateAssemblyVersionAttribute>false</GenerateAssemblyVersionAttribute>
        <GenerateAssemblyFileVersionAttribute>false</GenerateAssemblyFileVersionAttribute>
        <GenerateAssemblyInformationalVersionAttribute>false</GenerateAssemblyInformationalVersionAttribute>
    </PropertyGroup>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
    </customHeaders>
    <ItemGroup>
        <Compile Remove="C:\Users\mephy\RiderProjects\server-prototype\obj\Develop\netcoreapp3.1\ServerAspNetCoreLinux.AssemblyInfo.cs"/>
        <Compile Remove="C:\Users\mephy\RiderProjects\server-prototype\obj\Debug\netcoreapp3.1\ServerAspNetCoreLinux.AssemblyInfo.cs"/>
    </ItemGroup>
</configuration>